* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-page-layout {
  min-height: calc(100vh - 121px);
  padding: 30px;
  color: rgb(86, 86, 86);
}

@media (width < 700px) {
  .main-page-layout {
    padding: 10px;
  }
}

label {
  font-weight: 600;
  transform: translateY(5px);
}

th {
  background-color: rgb(61, 57, 57) !important;
  color: white !important;
  font-size: 12px;
  border: none !important;
}
td {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.row-responsive {
  display: flex;
  flex-direction: row;
}
@media (width < 700px) {
  .row-responsive {
    flex-direction: column;
  }
}

.empty-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96%;
  position: absolute;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

@media (width < 700px) {
  .empty-data {
    width: 94%;
  }
}
