.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.line {
  height: 10px;
  width: 100px;
  background-color: rgb(221, 221, 221);
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  margin: 8px;
}

.text-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  position: relative;
}

.text-cont span {
  position: absolute;
  top: -40px;
  width: 200px;
  text-align: center;
}

@media (width <700px) {
  .text-cont span {
    top: -30px;
    width: 105px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.icon-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(221, 221, 221);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
}

.icon-cont img {
  height: 30%;
}
