.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-right: 1px solid rgb(213, 213, 213);
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  z-index: 999;
  background-color: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
}

@media (width < 700px) {
  .container {
    position: absolute;
    height: 250px;
    border-bottom: 1px solid rgb(213, 213, 213);
  }
}

.user-area {
  border-bottom: 1px solid rgb(213, 213, 213);
  display: flex;
  justify-content: space-between;
}

.user-container {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 10px;
  min-width: 230px;
}

.menu-item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.menu-item:hover {
  background-color: aliceblue;
}
